html {
	/*overflow:hidden;*/
	-ms-touch-action:none;
	-ms-content-zooming:none;
}
body {
	position:absolute;
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
}
#canvas {
	position:absolute;
	width:100%;
	height:100%;
}
