.navbar{
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
  height:auto;
}
.nav>li>a{
  color:rgba(219, 18, 96, 0.53);
}

/*.nav>li{
  background-color:rgba(219, 18, 96, 0.53);
}*/

.nav>li>a:hover{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.nav>li>a:focus{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.navbar>div>div>a{
  padding: 0px;
}

.nav:first-child li a{
  color:skyblue;
}

.weather{
  position:absolute;
  top:-40px;
  left: -100px;
}

#i_kj_z{
  background: #fff;
}

#i_kj_z>div:first-child{
  margin:auto;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#i_kj_z>div:first-child>div{
  margin-top: -300px;
}

#i_kj_z>div:last-child{
  margin:auto;
  width: 100%;
  height: 765px;
  overflow: hidden;
}

#i_kj_z>div:last-child>div{
  margin-top: -1520px;
}

.footer{
  border-radius: 20px 0px;
  height:100px;
  padding-top: 30px;
  background: rgba(198, 35, 23, 0.81);
  text-align: center;
}

.footer>span{
  color:rgb(184, 143, 96);
  font-style: normal;
  font-weight: bold;
}

.footer>i{
  color:rgb(184, 143, 96);
}
